$height: 30rem;
$width: 20rem;

.container {
	position: absolute;
	z-index: 2;

	transform: translate(-50%, 1rem);

	padding: 1rem;
	background: white;
	border: 2px solid #0005;

	min-width: 4rem;
	min-height: 4rem;
	max-width: $width;
	max-height: $height;

	&::before {
		content: '';
		display: block;
		position: fixed;
		left: 50%;
		top: -1rem;
		z-index: -1;
		transform: translateX(-50%) rotate(45deg);
		background: white;
		width: 2rem;
		height: 2rem;
		border-left: 2px solid #0005;
		border-top: 2px solid #0005;
	}
}

.article {
	word-break: break-word;

	max-height: $height - 2;
	max-width: $width - 2;
	width: max-content;

	text-align: left;

	position: relative;
	z-index: 1;
	overflow: auto;

	background: #fff no-repeat;

	background-image:
		radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));

	background-position: 0 0, 0 100%;
	background-size: 100% 14px;

	&::before,
	&::after {
		content: '';
		position: relative;
		z-index: -1;
		display: block;
		height: 30px;
		background: linear-gradient(to bottom, #fff, #fff 30%, rgba(255, 255, 255, 0));
	}

	&::after {
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 70%, #fff);
	}
}

.contents {
	margin-top: -30px;
	margin-bottom: -30px;
}

.loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.pronunciation {
	font-family: Menlo, monospace;
	font-weight: normal;
	font-size: 1.3rem;

	color: #999;
}

.p {
	margin: 1rem 0;
}
