.interval {
	padding: 0.3rem;
	font-size: inherit;
	width: 3rem;
}

.intervalContainer {
	border: 1px solid grey;
	border-top: 0;
	border-bottom: 0;
	padding: 1rem;
}

.invisible {
	visibility: hidden;
}