@import '../../styles/index.module.scss';

.card {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template: auto / auto;
	align-items: center;
	padding-bottom: 6rem;

	gap: 1rem;
	@media (min-width: 768px) {
		grid-template: auto / 1fr 1fr;
		gap: 2rem;
	}
	@media (min-width: 1000px) {
		gap: 4rem;
	}

	&:nth-of-type(3n) .link {
		background-color: rgba(map-deep-get($colours, 'homeBlue', 'mid'), 0.7);
		background-image: radial-gradient(circle at 80% 10%, rgba(255, 255, 255, 0.1) 10%, transparent 10%),
			radial-gradient(circle at 10%, rgba(0, 0, 0, 0.1) 15%, transparent 15%),
			radial-gradient(circle at 90% 60%, rgba(0, 0, 0, 0.2) 5%, transparent 5%),
			radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.1) 10%, transparent 10%),
			radial-gradient(circle at 20% 5%, rgba(91, 140, 183) 4%, transparent 4%);
	}

	&:nth-of-type(3n + 1) .link {
		background-color: rgba(map-deep-get($colours, 'homeBlue', 'dark'), 0.7);
		background-image: radial-gradient(circle at 40% 90%, rgba(255, 255, 255, 0.1) 10%, transparent 10%),
			radial-gradient(circle at 90% 30%, rgba(0, 0, 0, 0.1) 15%, transparent 15%),
			radial-gradient(circle at 15% 5%, rgba(255, 255, 255, 0.15) 5%, transparent 5%),
			radial-gradient(circle at 5% 50%, rgba(0, 0, 0, 0.1) 10%, transparent 10%);
	}

	&:nth-of-type(3n + 2) .link {
		background-color: rgba(map-deep-get($colours, 'homeBlue', 'light'), 0.7);
		background-image: radial-gradient(circle at 80% 10%, rgba(255, 255, 255, 0.1) 10%, transparent 10%),
			radial-gradient(circle at 10%, rgba(0, 0, 0, 0.1) 15%, transparent 15%),
			radial-gradient(circle at 90% 60%, rgba(100, 100, 100, 0.2) 5%, transparent 5%),
			radial-gradient(circle at bottom, rgba(0, 0, 0, 0.1) 10%, transparent 10%);
	}

	@media (min-width: 768px) {
		&:nth-of-type(2n - 1) .link {
			order: -1;
		}
	}
}

.image {
	width: 100%;
	@media (min-width: 500px) {
		width: 80%;
	}
	@media (min-width: 768px) {
		width: 100%;
	}
	@media (min-width: 768px) {
		width: 100%;
	}

	height: 100%;
	display: block;
	border-radius: 0.5rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.info {
	flex: 1;
}

.link {
	text-decoration: none;
	display: flex;
	justify-content: center;

	padding: 1rem;
	@media (min-width: 350px) {
		padding: 2rem;
	}
	@media (min-width: 500px) {
		padding: 3rem;
	}

	border-radius: 0.5rem;
	flex: 1;
	position: relative;
}

.title {
	@extend %title;

	width: fit-content;
	margin-bottom: 1rem;
	display: block;
}

.p {
	margin-top: 1rem;
}