@import '../../../styles/functions';
@import '../../../styles/variables';

$radius: 0.5rem;

.button,
.backing {
	background: unset;
	appearance: unset;
	border: unset;
	box-sizing: border-box;

	position: absolute;
	font-size: 2rem;
	transition: 0.2s;

	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 1.5 * $radius;

	cursor: pointer;
}

.button {
	$darkerBlue: map-deep-get($colours, 'wwBlue', 'darker');
	$darkBlue: map-deep-get($colours, 'wwBlue', 'dark');
	$midBlue: map-deep-get($colours, 'wwBlue', 'mid');
	$lightBlue: map-deep-get($colours, 'wwBlue', 'light');
	$lighterBlue: map-deep-get($colours, 'wwBlue', 'lighter');

	background: linear-gradient($darkBlue, $midBlue);
	color: white;

	&::before {
		content: '';

		$outset: 0.6rem;
		position: absolute;
		top: -$outset;
		left: -$outset;
		right: -$outset;
		bottom: -$outset;
		z-index: -1;

		border-radius: 2.2 * $radius;
		border: 3px solid $darkerBlue;

		background: linear-gradient($lightBlue, $lighterBlue 80%);
	}

	&:focus,
	&:hover {
		text-decoration: underline;
	}

}

.backing {
	opacity: 0.2;
	border: 2px dotted grey;
}

.middle {
	@extend .button;
	$midYellow: map-deep-get($colours, 'wwYellow', 'mid');
	$lightYellow: map-deep-get($colours, 'wwYellow', 'light');

	&::before {
		background: linear-gradient($midYellow, $lightYellow 80%);
	}
}