.button,
.backing {
	all: unset;
	box-sizing: border-box;

	position: absolute;
	width: 5rem;
	height: 5rem;
	font-size: 2rem;
	transition: 0.3s;

	font-family: sans-serif;
	display: grid;
	place-items: center;

	border-radius: 1rem;

	cursor: pointer;
}

.button {
	border: 2px solid grey;
	background: white;

	&:focus,
	&:active,
	&:hover {
		filter: invert(1);
	}
}

.backing {
	opacity: 0.2;
	border: 2px dotted grey;
}
