%button {
	position: fixed;
	right: 1rem;
	width: 40px;
	height: 40px;
	border: 2px solid grey;
	background: white;
	border-radius: 50%;
}

.plus {
	@extend %button;
	bottom: 1rem;
}

.minus {
	@extend %button;
	bottom: 4.5rem;
}