.item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 0.5rem;
	padding: 0.5rem 0 0 0;
	min-height: 64px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);

		height: 1px;
		background: lightgrey;
	}
}

.title {
	display: block;
	color: #333;
	margin-right: 3rem;
}

.left {
	width: 100%;
}