.main {
	min-height: 100vh;

	display: grid;
	grid-template:
		'header  header  ' min-content
		'guesses controls' 1fr
		'letters letters ' max-content
		/ 1fr min-content
	;

	max-width: 1000px;
	max-height: 100vh;
	margin: auto;

}