.main {
	min-height: 100vh;

	display: grid;
	grid-template:
		'header   header ' min-content
		'controls guesses' 1fr
		'letters  letters' max-content
		/ min-content 1fr
	;

	max-height: 100vh;
	padding: 0;
	margin: auto;
}

.noCursor {
	&, * {
		cursor: none;
	}
}