@import '../../../styles/index.module.scss';

.guess {
	font-family: Nunito, sans-serif;
	font-size: 1.4rem;

	cursor: pointer;

	border: none;
	border-bottom: 3px solid transparent;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	background: none;
	padding: 0 1rem;

	animation: burst 0.5s;

	&:focus {
		outline: none;
		background: map-deep-get($colours, 'wwYellow', 'light');
		border-bottom: 3px solid map-deep-get($colours, 'wwGrey', 'dark');
	}
}

.answer {
	@extend .guess;
	color: map-deep-get($colours, 'wwRed', 'mid');

	&:focus {
		color: map-deep-get($colours, 'wwGrey', 'dark');
	}
}
