@import '../../../../styles/index.module.scss';

.guess {
	font-family: Nunito, sans-serif;
	font-size: 1.4rem;

	width: 100%;

	cursor: pointer;

	border: none;
	border-bottom: 3px solid transparent;
	border-radius: 5px;

	background: none;
	padding: 0 1rem;

	animation: burst 0.5s;

	&:focus {
		outline: none;
		background:
			map-deep-get($colours, 'wwBlue', 'light')
			linear-gradient(
				map-deep-get($colours, 'wwBlue', 'light'),
				map-deep-get($colours, 'wwBlue', 'dark'),
			);

		color: white;
		border-bottom: 3px solid map-deep-get($colours, 'wwGrey', 'dark');
	}
}

.answer {
	@extend .guess;
	color: map-deep-get($colours, 'wwRed', 'mid');

}
