.wrapper {
	padding: 7rem 1rem 1rem 1rem;
	width: min-content;
}

.line {
	position: relative;
	z-index: 1;

	width: calc(9 * 4.5rem - 1.5rem);
	height: 3rem;

	@media only screen and (max-width: 800px) {
		height: calc(3 * 4.5rem - 0.5rem);
		width: calc(3 * 4.5rem - 0.5rem);
	}
}
