%expander {
	border: 1px solid grey;
	border-bottom-left-radius: 5px;
	border-top: none;

	overflow: hidden;

	transform: translateY(-1px);
	max-height: 10rem;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-duration: 0.2s;

}

.expanderShown {
	@extend %expander;
	max-height: 100vh;
	transition-timing-function: cubic-bezier(0.9, 0, 0.9, 0);
}

.expanderHidden {
	@extend %expander;
	max-height: 0;
	visibility: hidden;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.toggle {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 3rem;
	height: 1.5rem;
	font-size: 1.4rem;

	@media (min-width: 500px) {
		height: 0.8rem;
		font-size: 1rem;
	}
	margin-left: auto;

	background: white;
	border: 1px solid grey;
	border-top: none;
	border-radius: 0 0 5px 5px;
	transform: translateY(-2px);

	overflow: hidden;
	outline: none;

	&:focus, &:hover {
		background: linear-gradient(#fff, #eee);
	}

}

.iconReversed {
	transform: rotate(180deg);
}

.controlsSection {
	flex: 1;

	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	margin-right: -1px;
	margin-bottom: -1px;

	padding: 1rem;

	display: flex;
	flex-direction: column;

	text-align: center;
	white-space: nowrap;
}

.controlAlignment {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}