%expander {
	border: 1px solid grey;
	border-bottom-left-radius: 5px;
	border-top: none;

	overflow: hidden;

	transform: translateY(-1px);
	transition: 0.2s linear;
}

.expanderShown {
	@extend %expander;
	max-height: 10rem;
}

.expanderHidden {
	@extend %expander;
	max-height: 0;
	visibility: hidden;
}

.container {
	display: flex;
}

.toggle {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 3rem;
	height: 0.8rem;
	margin-left: auto;

	background: white;
	border: 1px solid grey;
	border-top: none;
	border-radius: 0 0 5px 5px;
	transform: translateY(-2px);

	overflow: hidden;
	outline: none;

	&:focus, &:hover {
		background: linear-gradient(#fff, #eee);
	}

}

.iconReversed {
	transform: rotate(180deg);
}

.controlsSection {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-right: 1px solid grey;
}

.controlAlignment {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}