@import '../../../styles/index.module.scss';

.header {
	grid-area: header;
	position: relative;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	gap: 1rem;

	padding: 0.3rem 1rem;

	background: linear-gradient(
		map-deep-get($colours, 'wwBlue', 'mid'),
		map-deep-get($colours, 'wwBlue', 'dark'),
	);
	color: white;


	&::before,
	&::after {
		@extend .header;

		content: '';

		position: absolute;
		top: 0;
		bottom: 0;

		padding: 0;
		width: calc((100vw - 100%) / 2);
	}

	&::before {
		right: 100%;
	}

	&::after {
		left: 100%;
	}
}

.h1 {
	font-size: 1rem;
}

.targets {
	display: flex;
	gap: 0.3rem;
}

.target {
	padding: 0 0.5rem;
	display: block;
}

.attained {
	@extend .target;
	background: linear-gradient(#ffffff, #eeeeee);
	color: black;
	animation: burst 0.5s;
}

.total {
	margin-left: 1rem;
}