@import '../../../../../styles/index.module.scss';

.input {
	padding: 1rem;
	padding-left: 2.5rem;

	width: calc(9ch + (9 * 1.5rem) + 3.5rem + 6px);

	border-radius: 0.5rem;
	border: 3px solid map-deep-get($colours, 'wwBlue', 'dark');

	color: white;
	$yellow: map-deep-get($colours, 'wwYellow', 'light');

	background:
		linear-gradient(
			map-deep-get($colours, 'wwBlue', 'dark') 15%,
			transparent 15%,
			transparent 85%,
			map-deep-get($colours, 'wwBlue', 'mid') 85%,
		),

		linear-gradient(
			90deg,
			transparent 45%,
			map-deep-get($colours, 'wwYellow', 'light') 45%,
			map-deep-get($colours, 'wwYellow', 'mid') 55%,
			transparent 55%,
		),
		linear-gradient(
			map-deep-get($colours, 'wwBlue', 'dark'),
			map-deep-get($colours, 'wwBlue', 'mid'),
		),
	;

	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5rem;
	font-family: Menlo, monospace, monospace;

	&:focus {
		outline: none;
		box-shadow:
			0 0 0 2px white,
			0 0 0 5px map-deep-get($colours, 'wwBlue', 'dark')
		;
	}
}

.instructions {
	margin-bottom: 2rem;
	font-size: 1.3rem;
}