.list {
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
	flex-direction: column;
}

.item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 0.5rem;
	padding: 0.5rem 0 0 0;
	min-height: 64px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);

		height: 1px;
		background: lightgrey;
	}
}

.title {
	display: block;
	color: #333;
	margin-right: 3rem;
}

.commentLink {
	position: absolute;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 2.5rem;

	margin-left: 0.5rem;
	padding: 0.5rem 0;

	color: darkslategrey;
	background: aliceblue;
	border-radius: 5px;
	border: 1px solid lightblue;

	text-decoration: none;
}

.icon {
	width: 20px;
	filter: invert(0.7);
}

.left {
	width: 100%;
}