$colours: (
	wwYellow: (
		light: #faee70,
		mid: #e7b786,
	),
	wwRed: (
		mid: red,
		dark: #961533,
	),
	wwBlue: (
		lighter: #07c8da,
		light: #2367cc,
		mid: #0857be,
		dark: #08478f,
		darker: #3b2875,
	),
	wwPurple: (
		mid: #70315c,
	),
	wwShadow: (
		mid: #00000066,
	),
	wwGrey: (
		light: #ddd,
		dark: #111,
	),

	cfRed: (
		mid: rgb(255, 153, 153),
		dark: rgb(204, 0, 0),
		darker: rgb(105, 0, 0),
	),
	cfGreen: (
		mid: rgb(153, 255, 153),
		dark: rgb(0, 204, 0),
		darker: rgb(0, 105, 0),
	),
	cfBlue: (
		mid: rgb(153, 153, 255),
		dark: rgb(0, 0, 204),
		darker: rgb(0, 0, 105),
	),
	cfYellow: (
		mid: rgb(255, 255, 153),
		dark: rgb(204, 204, 0),
		darker: rgb(105, 105, 0),
	),
	cfCyan: (
		mid: rgb(153, 255, 255),
		dark: rgb(0, 204, 204),
		darker: rgb(0, 105, 105),
	),
	cfMagenta: (
		mid: rgb(255, 153, 255),
		dark: rgb(204, 0, 204),
		darker: rgb(105, 0, 105),
	),
);

$cfDimensions: 6.5vmin;